:root {
    --font-default: "Lato";
    --font-title: "Poppins";

    --color-form-background: #FFF;
    --color-form-border: #dadbdc;

    --color-font-dark: #141313;
    --color-font-light: white;

    --color-background-dark: #09306b;
    --color-background-selected: #004b8e;
    --color-background-light: #ededed;
    --color-secondary: #236DB0;

    --color-error: #e82b35;

}